<!-- 
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "buffet.jpg" %>);">
  <div class="container">

  </div>
</div>
-->

<div class="container mt-2 mb-5">
  <div class="row justify-content-around">
    <div class="col-12 col-sm-8">
      <p>
        <%= link_to 'Back', restaurants_path, class: 'btn btn-primary opacity-70 text-decoration-none' %>
      </p>
      <div class="d-flex align-items-center">
        <h1 class="m-0"><%= @restaurant.name %></h1>

      </div>
      <p class="fw-lighter opacity-75 mt-2"><%= Faker::Restaurant.description  %></p>
      <h3>
        Reviews
        <%= render "restaurants/review_form" %>
      </h3>
      <ul>
        <% if @restaurant.reviews.any? %>
          <% @restaurant.reviews.each do |review| %>
            <li>
              <%= review.content %>
            </li>
          <% end %>
        <% else %>
          <li>No reviews yet.</li>
        <% end %>
      </ul>
    </div>

</div>